body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.boton {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #2980b9;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
